* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  line-height: 1.5;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding: 48px 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 32px;
}

.intro-chunk {
  margin: 32px 0;
  padding-top: 16px;
  padding-bottom: 24px;
  width: 50%;
  min-width: 300px;
}

.title {
  padding-bottom: 16px;
}

.card {
  background: hsl(0deg, 0%, 100%);
  padding: 32px;
  margin: 0 -32px;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.card p:last-child {
  margin-bottom: 0;
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  padding: 8px 48px;
  width: fit-content;
  margin-top: -24px;
  margin-left: -48px;
}
